body {
    margin: 0;
    font-family: helvetica, serif;
    background-image: url("https://wallpaperaccess.com/full/666602.jpg");
}


/*******************************************Navigacne menu**********************************************/
.linav {
    display: inline-block;
    margin: 0;
    padding: 15px;
}

/*hlavne menu*/
.nav {
    background-color: #0000005c;
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
    display: flex;
    justify-content: left;
    height: 60px;
    z-index: 2;
}

.mobile-container {
    display: none;
}

/*podfarbenie*/
li:hover {
    background: #626161;
    opacity: 70%;
}

/*polozky v menu*/
li a, .cas {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/*media queries*/
@media screen and (max-width: 800px) {
    .nav {
        visibility: hidden;
    }

    li {
        visibility: hidden;
    }

    .mobile-container {
        display: unset;
        max-width: 480px;
        margin: auto;
        background-color: #0000005c;
        height: 500px;
        color: white;
        border-radius: 10px;
    }

    .topnav {
        overflow: hidden;
        background-color: #0000005c;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        height: 18px;
    }

    .topnav a.icon {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }

}

/*******************************************menu**********************************************/

/*baner*/
.jedlo {
    width: 100%;
}

/*logo*/
.nazov {
    position: absolute;
    top: 0;
    margin-left: 50%;
    margin-top: 10%;
    transform: translate(-50%, 50%);
    color: white;
    font-family: helvetica, serif;
    font-size: 55px;
}

/*nadpis*/
.Onas {
    color: #cf2544;
    text-indent: 3%;
}

/* O nas popis*/
.popis {
    width: 45%;
    margin-left: 3%;
    text-align: justify;
}

/*burger obrazok*/
.burger {
    margin-left: 36%;
    margin-top: 21%;
    position: absolute;
    width: 60%;
    top: 0;
}

/*media queries*/
@media only screen and (max-width: 900px) {
    .nazov {
        font-size: 35px;
    }

    .popis {
        width: 90%;
    }

    .burger {
        position: static;
        margin: 0;
    }

    .nazov {
        display: none;
    }
}

.ponuka {
    margin-top: 5%;
    width: 100%;
}


/*******************************************ponuka**********************************************/


/*IMG*/
.stlpec {
    float: left;
    width: 25%;
    padding: 25px;
    margin-left: 3%;
}

.stlpec .obrJedlo {
    opacity: 0.7;
}

.stlpec .obrJedlo:hover {
    opacity: 1;
    transform: scale(1.25);
    z-index: 0;
}

.obrJedlo {
    width: 100%;
    border-radius: 13px;
}
.produkt {
    text-decoration: underline;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
 .tlacidlo
{
    font-family:helvetica, serif;
    background-color: unset;
    color: black;
    border: none;
    cursor: pointer;

 }

/*pomenovanie*/

/*zvacsenie pomenovania*/
.produkt:hover {
    transform: scale(1.3);
    cursor: pointer;
}

/*kosik ikona*/
.kosik {
    width: 25px;
}

/* media queries*/
@media only screen and (max-width: 950px) {
    .stlpec {
        float: left;
        padding: 10%;
    }

    .obrJedlo {
        width: 270px;
    }

    .produkt {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1055px) {
    .stlpec h2 {
        font-size: 1em;
    }
}

@media only screen and (max-width: 700px) {
    .stlpec {
        float: none;
        padding: 0;
    }

    .obrJedlo {
        width: 270px;
    }
}

/*******************************************prihlasenie**********************************************/


/*formular*/
.formular {
    width: 50%;
    margin: auto;
}

/*zadavanie mena hesla*/
.meno {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*prihlasit button*/
.prihlasitButton, .registerButton {
    font-family: helvetica, serif;
    background-color: #4caf50;
    color: white;
    padding: 9px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.prihlasitButton:hover {
    opacity: 0.9;
}

/*burger avatar*/
.avatar {
    text-align: center;
    margin-top: 2%;
}

.burgerAvatar {
    width: 12%;
    padding: 3%;
    background-color: #cf2544;
    border-radius: 50%;
}


/*media queries*/
@media screen and (max-width: 800px) {
    .avatar {
        margin-top: 20%;
    }
}

/*******************************************kontakt**********************************************/

/*google mapa*/
.mapa {
    border-style: solid;
    width: 315px;
    height: 265px;
    border-color: #fbb273;
}

/*kontakt blok*/
.kontakt {
    line-height: 50px;
    background-color: #a5c9ca;
    font-size: 18px;
    width: 35%;
    padding: 20px;
    font-weight: bold;
    border-radius: 50px;
}

/*mapa+kontakt*/
.kontainer {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

/*ikony pri kontaktoch*/
.icon {
    width: 5%;
}

/*prevadzka*/
.hodiny {
    font-size: 24px;
    line-height: 30px;
    padding: 10px;
}

.zatvorene {
    text-align: center;
    font-weight: bold;
}

/*odsek tabulka*/
.tabulka {
    background-color: #b1cab4;
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

th {
    padding: 15px;

}

/* spodny blok*/
.pata {
    background-color: #ecdfb9;
    padding-top: 10px;
    width: 80%;
    margin-left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    padding-bottom: 20px;
    z-index: 2;
}

.spokojnostZakaznikov{
    text-align: left;
    margin-left: 10%;

}

.evaluationButton{
    background-color: #4caf50;
    font-weight: bold;
    border: unset;
    cursor: pointer;
    padding: 5px;
}

/*media queries*/
@media only screen and (max-width: 950px) {
    .kontainer {
        display: block;
    }

    .kontakt {
        width: 100%;
        text-align: center;
        border-radius: 0;
        margin-bottom: 50px;
        padding: 0;
    }

    .obalovac {
        display: flex;
        justify-content: center;
    }

    .napisteNam{
        font-size: 16px;
    }
}

/*******************************************kosik**********************************************/

.kontainerKosik, .kontainerKosikBtnObjednat{
    display: flex;
    justify-content: center;

}
.kontainerKosikBtnObjednat{
    padding: 20px;
}
.tlacidloPero, .tlacidloTrash{
    font-family: helvetica, serif;
    background-color: unset;
    color: black;
    border: none;
    cursor: pointer;
}

.obsah {
    display: flex;
    justify-content: space-around;
}

.obalovacZoznamu{
    display: flex;
    justify-content: center;
}
.oramovanieKosik {
    width: 200px;
    text-align: center;

}

.obalovacSpolu{
    display: flex;
text-align: center;
    font-weight: bold;
    padding-top: 10px;
}
.zoznam{
    margin-top: 10%;
    border: 5px solid black;
    background-color: white;


}
.trash {
    width: 10px;
    cursor: pointer;
}

.trash:hover {
    transform: scale(1.3);
}

.spoluSuma{
    width: 50%;

}


.zle {
    display: none;
}

.btnObjednat{
    width: 100px;
    cursor: pointer;
    background-color: #4caf50;
    border: solid black 2px;
}

/*******************************************registracia**********************************************/

.kontajnerRegister {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.register{
    display: block;
    text-align: center;
    width: 30%;
    background-color: #f8c597;
    border: solid black 5px;
}

.signupbtn,.cancelbtn {
    font-family: helvetica, serif;
    background-color: #4caf50;
    color: white;
    padding: 9px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 45%;
}

.cancelbtn{
    background-color: #cf2544;
}

@media only screen and (max-width: 500px) {

    .oramovanieKosik{
        width: 100%;
        display: block;
        text-align: left;
    }

    .obsah{
        display: block;
    }

    .zoznam{
        width: 100%;
    }

}

