/*formular*/
.formular {
    width: 50%;
    margin: auto;
}

/*zadavanie mena hesla*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*prihlasit button*/
button {
    font-family: cursive,serif;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.9;
}

/*burger avatar*/
.avatar{
    text-align: center;
    margin-top: 7%;
}

.burger{
    width: 12%;
    padding: 3%;
    background-color: #cf2544;
    border-radius: 50%;
}


/*media queries*/
@media screen and (max-width: 800px) {
    .avatar{
        margin-top: 20%;
    }
}